header {
  font-family: 'Shadows Into Light','Brush Script MT';
    position: relative;
    justify-content: center;
    text-align:center;
    font-size:3rem;
    padding-top:2%;
  }
  body {
    background-color: #f0cff4;
  }
  
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #categorySelect {
    width: 100%;
    margin-bottom: 20px;
  }
  
  #searchBar {
    width: 100%;
    margin-bottom: 20px;
  }
  
  #productsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }